body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
}

.categories {
    margin-bottom: 20px;
}

select {
    padding: 12px;
    border: 2px solid #fcb69f;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    background: #ffecd2;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
}

select:hover {
    border-color: #ffb385;
    background-color: #ffe6cc;
}

button {
    background: #fcb69f;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

button:hover {
    background: #ff9966;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
    font-style: italic;
}